body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 350px; /* Reduced max-width */
    background-color: #fff;
    padding: 15px; /* Reduced padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    width: 100%;
    margin-bottom: 10px; /* Reduced margin-bottom */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="numbers"] {
    width: calc(100% - 20px);
    padding: 8px; /* Reduced padding */
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px; /* Reduced font-size */
}

input[type="checkbox"] {
    margin-right: 5px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px; /* Reduced padding */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Reduced font-size */
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
